<!DOCTYPE HTML>
<html lang="en">
<head>
<title>OneCard - Fees</title>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="user-scalable=no,initial-scale=1.0, maximum-scale=1.0 width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />


<!--Main CSS-->
<link rel="stylesheet" href="css/layout.css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="fees.js"></script>
<!--Script-->
</head>
<body ng-app="feesApp">


  		<div class="sdic-nav visible-sm visible-xs">
        	 <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">LOG IN</a> |  <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">SIGN UP</a>
        </div>

<!-- PAGE HEADER -->
	<nav class="navbar">
      <div class="container">     
        <div class="navbar-header">
          <span class="navbar-brand logo-s" href="#"></span>
        </div>
        
        <div id="navbar" class="pull-right toprightnav hidden-sm hidden-xs">
           <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new" class="link-login">LOG IN</a>
           <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new" class="waves-effect waves-light btn btn-signup">SIGN UP</a>
        </div>
        
      </div>      
    </nav>
<!-- PAGE HEADER -->

<!-- PAGE CONTAINER -->
<div class="container" ng-controller="feesController">

    <!-- AboutUs Banner -->
    <div class="legal-img"></div>    
    <!-- AboutUs Banner -->
    
    <!-- OurTeam Nav -->
    <div class="legal-int-nav">    
    
        <div class="legal-hd">Legal</div>		
        <div class="legal-linknav">
        <ul>
        	<li><a href="terms.html">terms and conditions</a></li>
        	<li><a href="privacy.html">privacy statement</a></li>
        	<li>fees</li>
        </ul>
        </div>


    <!-- Table Nav -->    
        
        <div class="fee-table visible-lg visible-md">
        	<table>
            <tr>
            <th width="20%">Category</th><th width="35%">Description</th><th width="10%">Amount</th><th width="35%">Tips & Notes</th>           
            </tr>
           
            <tr ng-repeat="r in list">
				<td class="cat-txt">{{r.category}}</td>
                <td>
                <table>
						<tr ng-repeat="c in r.val">
                        	<td>{{c.desc}}</td>
                          </tr>                    
					</table>
                </td>
				<td>
                <table>
						<tr ng-repeat="c in r.val">
							<td>{{c.amt}}</td>
                          </tr>                    
					</table>
                </td>
				<td>
                <table>
						<tr ng-repeat="c in r.val">
                            <td>{{c.notes}}</td>
                          </tr>                    
					</table>
                </td>				
            </tr>
        
            
            </table>
        </div>        
    <!-- Table Nav -->    

<!-- Collapse Nav -->
<div class="fee-collapsenav visible-sm visible-xs">
        
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default" ng-repeat="r in list">  
    <div class="panel-heading" role="tab" id="heading{{r.idx}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{r.idx}}" aria-expanded="true" aria-controls="collapse{{r.idx}}">
      <div class="panel-title" >
       	{{r.category}}
      </div>
    </div>
    
    <div id="collapse{{r.idx}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{r.idx}}">
      <div class="panel-body">    
        
      	<div class="fee-collapse-row" ng-repeat="c in r.val">
    	   <div lass="fee-collapse-cat"><b>{{c.desc}}:</b> {{c.amt}}</div>           
		    <div lass="fee-collapse-note" ng-when="{{c.notes}}!= ''">{{c.notes}}</div>
        </div>      
        
      </div>
    </div> 
    </div>
 

</div>
</div>
<!-- Collapse Nav -->
        

</div>
<!-- OurTeam Nav --> 

   
</div>
<!-- PAGE CONTAINER -->

<!-- PAGE FOOTER -->
<footer class="footer">

      <div class="container">
         <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs"></div>
	     <div class="col-lg-5 col-md-5 col-sm-5 pad-none">
         
         
         	<div class="ft-linknav">
            
        	<div class="ft-linkblk">
            <div class="ft-hd">legal</div>
            <div class="ft-list">
            <ul>
            <li><a href="terms.html">Terms and Conditions</a></li>
            <li><a href="privacy.html">Privacy Statement</a></li>
            <li><a href="fees.html">Fees</a></li>
            </ul>
            </div>          
            </div>
            
        	<div class="ft-linkblk">
            <div class="ft-hd">onecard</div>
            <div class="ft-list">
            <ul>
            <li><a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">Log In</a></li>
            <li><a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">Sign Up</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            </ul>
            </div>          
            </div>
            
        	<div class="ft-linkblk">
            <div class="ft-hd">social</div>
            <div class="ft-list">
            <ul>
            <li><a href="https://www.twitter.com/GetOneCard" target="_new">Twitter</a></li>
            <li><a href="https://www.facebook.com/GetOneCard" target="_new">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/onecard-mastercard?trk=biz-brand-tree-co-name\" target="_new">LinkedIn</a></li>
            </ul>
            </div>          
            </div>
            
            </div>
            
            <div class="ft-cpyrtnav">
	            <div class="ft-cpyrt-txt">&copy; 2016 OneCard</div>
            </div>
                                
         </div>
      </div>
      
    </footer>
<!-- PAGE FOOTER -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
