<!DOCTYPE HTML>
<html lang="en">
<head>
<title>OneCard - Privacy Statement</title>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="user-scalable=no,initial-scale=1.0, maximum-scale=1.0 width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300,500' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css' />


<!--Main CSS-->
<link rel="stylesheet" href="css/layout.css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" />

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="privacy.js"></script>
<!--Script-->
</head>
<body ng-app="privacyApp">


  		<div class="sdic-nav visible-sm visible-xs">
        	 <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">LOG IN</a> |  <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">SIGN UP</a>
        </div>

<!-- PAGE HEADER -->
	<nav class="navbar">
      <div class="container">     
        <div class="navbar-header">
          <span class="navbar-brand logo-s" href="#"></span>
        </div>
        
        <div id="navbar" class="pull-right toprightnav hidden-sm hidden-xs">
           <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new" class="link-login">LOG IN</a>
           <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new" class="waves-effect waves-light btn btn-signup">SIGN UP</a>
        </div>
        
      </div>      
    </nav>
<!-- PAGE HEADER -->

<!-- PAGE CONTAINER -->
<div class="container" ng-controller="privacyController">

    <!-- Legal Banner -->
    <div class="legal-img"></div>    
    <!-- Legal Banner -->
    
    
    <div class="legal-int-nav">    
        <div class="legal-hd">Legal</div>
		
         <!-- Link Nav -->
        <div class="legal-linknav">
        <ul>
        	<li><a href="terms.html">terms and conditions</a></li>
        	<li>privacy statement</li>
        	<li><a href="fees.html">fees</a></li>
        </ul>       
        </div>
         <!-- Link Nav -->
        
        <div class="terms-nav">
        	
            <!-- Our Privacy Commitment Nav -->
            <div class="terms-hd">1. Our Privacy Commitment</div>
            
			<div class="terms-shd">1. 1. Accuracy & Access</div>
            <div class="terms-sdesc">
            <p>We are committed to ensuring that the information we obtain and use about you is accurate for its intended purpose. You can access most of your personal information that we collect online and maintain at <a href="http://www.onecard.cool" target="_new">www.onecard.cool.</a>. You can correct factual errors in your personal information by contacting us at the number or address listed below.</p>
            <p>
To protect your privacy and security, we will also take reasonable steps to verify your identity before granting you access or enabling you to make corrections. We will retain personal information we have collected only for the time period needed for business purposes or as required by the corresponding regulatory authorities and we will ensure secure destruction thereafter.</p>
            </div>
            
            
			<div class="terms-shd">1. 2. Data Security</div>
            <div class="terms-sdesc">
            <p>We utilize physical, electronic and procedural security measures to protect against loss, misuse, and alteration of information under our control. We offer industry–standard practices and security measures to safeguard and secure the personal information we collect.</p>
            <p>Access to personal information is restricted to employees and service providers who need to have access to that information as described in this notice. We require our service providers to observe standards with respect to the security, collection, use and sharing of personal information, and to comply with applicable law.</p>
            </div>
            
            
			<div class="terms-shd">1. 3. Preventing Identity Theft</div>
            <div class="terms-sdesc">
            <p>We are dedicated to protecting your personal information. We do not initiate a request for personal information from you by fax or email. Please do not send confidential personal information such as social security numbers, government identification numbers, or Card numbers to us via an unsecured email message. Send confidential information to us via the contact methods listed below.</p>
            <p>Do not be misled by emails that appear to be from us and ask for personal information. If you receive a suspicious email requesting your personal information, please forward the email immediately to <a href="mailto:support@onecard.cool">support@onecard.cool.</a> To report fraud to the Internet Fraud Complaint Center, visit <a href="www.ic3.gov" target="_new">www.ic3.gov.</a> This is a partnership between The FBI and the National White Collar Crime Center.</p>
            </div>
            
			<div class="terms-shd">1. 4. Browsing</div>
            <div class="terms-sdesc">
            When you browse our websites or request pages, we automatically collect certain technical information about your visit. Examples of this standard type of information include the type of Internet browser you use, the files you request and the domain name and country from which you request information. We use this type of technical information to make our website function correctly, to better understand how visitors use our website and to improve the website, its contents and functionality to meet your needs. As part of our efforts to protect customers from fraud, this information is also used to assist in authenticating who you are when you access the web site.
            </div>
            
			<div class="terms-shd">1. 5. Cookies</div>
            <div class="terms-sdesc">
            Some of our web pages may contain "cookies", or data which is sent to your web browser and stored on your computer. The purpose of these "cookies" is to allow our server to recognize you as our customer if you return to the website using the same computer and browser. In the event you do not wish to receive such cookies, you usually may configure your web browser to not accept cookies or to notify you if a cookie is sent to you. You are free to decline cookies if your web browser permits, but you may not be able to use all the features and the functionality of our websites.
            </div>
    
            
			<div class="terms-shd">1. 6. Privacy Practices of Third Parties</div>
            <div class="terms-sdesc">
            We are not responsible for the content or information practices employed by other websites that are linked to or from our website. In most cases, links are provided as pointers to information on services that may be useful to users. These sites are governed by their own privacy statements and you are encouraged to review the privacy statement of these other websites before providing them with personal information.
            </div>        
    
            
			<div class="terms-shd">1. 7. Collection of Information of Children</div>
            <div class="terms-sdesc">
            In compliance with the United States Children's Online Privacy Protection Act, we will not knowingly collect personal information from children under the age of 13, without the consent of a parent or guardian. Individuals under the age of eighteen (18) may not be Cardholders or Authorized Users.
            </div> 
            
                        
			<div class="terms-shd">1. 8. Change in Privacy Statement</div>
            <div class="terms-sdesc">
            Your trust is one of our most important assets. We will continually work to protect the privacy of our customers and will continually review our privacy policy. This most current privacy statement will be posted on the website. This statement was last updated February 2013.
            </div>
            
                                    
			<div class="terms-shd">1. 9.Contacting Company</div>
            <div class="terms-sdesc">
            Email <a href="mailto:support@onecard.cool">support@onecard.cool</a> for the fastest response<br/>
For customer service or additional information regarding your Card, please contact us at:<br/><br/>
			CBW Bank<br/>
			C/O OneCard Services<br/>
			P.O. Box 304<br/>
			Weir, KS 66781<br/>
            </div>
            
			<div class="terms-shd">1. 10.Electronic Consent Required</div>
            <div class="terms-sdesc">
            <p>Thank you for your interest in the OneCard. By logging on to <a href="https://www.onecard.cool" target="_new">www.onecard.cool</a> and agreeing to the ESIGN Agreement, you are agreeing to the following. Please read the information below and in the ESIGN Agreement carefully and thoroughly.</p>
            <p>We may provide the Agreement and any amendments or revisions thereto to you in electronic form. You also agree that we may deliver via electronic communication any future notices and information, including but not limited to such future notices and information that may be required by law or by regulation to be provided to you pertaining to the OneCard ("notices"). The OneCard is issued by CBW Bank.</p>
            <p>We may deliver future Notices electronically by posting the Notice or a link to the Notice on our website or by emailing the Notice to the email address that you have provided to us. You agree to promptly notify us of any change in your email address by logging onto <a href="https://www.onecard.cool" target="_new">www.onecard.cool</a> and clicking on the "View Profile" link</p>
            <p>You have the right and may withdraw your consent to receive electronic communication and cancel your OneCard profile by logging onto <a href="https://www.onecard.cool" target="_new">www.onecard.cool</a> and clicking on the "Profile" link.</p>
            <p>
            You may obtain a paper copy of the Agreement and any future Notices by emailing <a href="mailto:support@onecard.cool">support@onecard.cool</a> There is a $5.00 fee imposed for each paper copy. You may also print directly from the site with no fee.</p>
            <p>The minimum hardware and software requirements to access and retain the Agreement and Notices are:
            <ul class="privacysublist">
            <li>An internet browser that supports 256-bit encryption.</li>
            <li>A personal computer, operating system and telecommunication connection to the Internet capable of supporting the foregoing.</li>
            <li>A mobile device running Apple iOS 6.0+ or Android phone running OS 4.1+</li>
            <li>The ability to view and print Portable Document Format (PDF) files, such as Adobe Acrobat Reader®, version 5 or higher.</li>
            </ul>
            </p>
            <p>These minimum requirements are subject to change.</p>
            </div>            
            <!-- Our Privacy Commitment Nav -->
            
			<!-- CBW Privacy Statement Nav -->
            <div class="terms-hd">2. CBW Privacy Statement</div>
            <div class="terms-desc">
            
    	   	 <!-- Table1 Nav -->            
	        <div class="privacy-table visible-lg visible-md">
        	<table>
            <tr><th width="15%">Facts</th><th width="85%">What does CBW with your personal information</th></tr>
            <tr ng-repeat="p in list1" >
			<td class="cat-txt">{{p.category}}</td>
            <td ng-bind-html="p.desc | to_trusted">{{p.desc}}</td>
            </tr>
            </table>
            </div>
            <!-- Table1 Nav --> 
              
            <!-- Collapse1 Nav -->
            <div class="privacy-collapsenav visible-sm visible-xs">
                    
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
              <div class="panel panel-default" ng-repeat="p in list1">  
                <div class="panel-heading" role="tab" id="heading{{p.idx}}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{p.idx}}" aria-expanded="true" aria-controls="collapse{{p.idx}}">
                  <div class="panel-title" >
                    {{p.category}}
                  </div>
                </div>
                
                <div id="collapse{{p.idx}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{p.idx}}">
                  <div class="panel-body">                        
                  {{p.desc}}                       
                  </div>
                </div> 
                </div>
             
            
            </div>
            </div>
            <!-- Collapse1 Nav -->
            
            
            
	 		<!-- Table2 Nav -->            
	        <div class="privacy-table visible-lg visible-md">
        	<table>
            <tr><th width="60%">Reasons we can share your personal information</th><th width="20%">Does CBW Bank share?</th><th width="20%">Can you limit this sharing?</th></tr>
            
            <tr ng-repeat="p in list2">
			<td>{{p.category}}</td>
            <td class="cat-txt"><div class="text-center">{{p.share}}</div></td>
            <td class="cat-txt"><div class="text-center">{{p.limit}}</div></td>				
            </tr>
        
            
            </table>
            </div>
            <!-- Table2 Nav -->
               
            <!-- Collapse2 Nav -->
            <div class="privacy-smdiv visible-sm visible-xs">
            
            <div class="privacy-smdiv-row" ng-repeat="p in list2">
               <div lass="privacy-smdiv-cat">{{p.category}}</div>           
               <div lass="privacy-smdiv-subcat"><b>Does CBW Bank share?:</b> {{p.share}}</div>
               <div lass="privacy-smdiv-subcat"><b>Can you limit this sharing?:</b> {{p.limit}}</div>
            </div>
            
            </div>
            <!-- Collapse2 Nav -->
                        
            
        
            </div>
            
            
			<div class="terms-shd">2. 1. Who We Are Who is providing this notice?</div>
            <div class="terms-sdesc">
            CBW Bank
            </div>
            
			<div class="terms-shd">2. 2. How does CBW Bank collect my personal information?</div>
            <div class="terms-sdesc">
            <p>
            We collect your personal information, for example, when you:
            <ul class="privacysublist">
            <li>open an account or deposit money</li>
            <li>pay your bills or apply for a loan</li>
            <li>use your credit or debit card</li>
            </ul>
            </p>
            <p>
            We also collect your personal information from others, such as credit bureaus, affiliates, or other companies. Why can't I limit all sharing? Federal law gives you the right to limit only:
            <ul class="privacysublist">
            <li>sharing for affiliates' everyday business purposes – information about your creditworthiness</li>
            <li>affiliates from using your information to market to you</li>
            <li>sharing for non-affiliates to market to you</li>
            </ul>
            </p>
            <p>Individual companies may give you additional rights to limit sharing. Definitions Affiliates Companies related by common ownership or control. They can be financial and nonfinancial companies.</p>
            <p>CBW Bank <b>does not</b> share with our affiliates. Non-Affiliates Companies not related by common ownership or control. They can be financial and nonfinancial companies.</p><p>CBW Bank <b>does not</b> share with non-affiliates so they can market to you. Joint Marketing A formal agreement between nonaffiliated financial companies that together market financial products or services to you.</p>
            <p>CBW Bank <b>doesn't</b> jointly market.</p>
            </div>
             
            
            <!-- CBW Privacy Statement Nav -->
            

            
        </div>


    </div>
    

   
</div>
<!-- PAGE CONTAINER -->

<!-- PAGE FOOTER -->
<footer class="footer">

      <div class="container">
         <div class="col-lg-7 col-md-7 col-sm-7 hidden-xs"></div>
	     <div class="col-lg-5 col-md-5 col-sm-5 pad-none">
         
         
         	<div class="ft-linknav">
            
        	<div class="ft-linkblk">
            <div class="ft-hd">legal</div>
            <div class="ft-list">
            <ul>
            <li><a href="terms.html">Terms and Conditions</a></li>
            <li><a href="privacy.html">Privacy Statement</a></li>
            <li><a href="fees.html">Fees</a></li>
            </ul>
            </div>          
            </div>
            
        	<div class="ft-linkblk">
            <div class="ft-hd">onecard</div>
            <div class="ft-list">
            <ul>
            <li><a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">Log In</a></li>
            <li><a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">Sign Up</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="faq.html">FAQ</a></li>
            </ul>
            </div>          
            </div>
            
        	<div class="ft-linkblk">
            <div class="ft-hd">social</div>
            <div class="ft-list">
            <ul>
            <li><a href="https://www.twitter.com/GetOneCard" target="_new">Twitter</a></li>
            <li><a href="https://www.facebook.com/GetOneCard" target="_new">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/onecard-mastercard?trk=biz-brand-tree-co-name\" target="_new">LinkedIn</a></li>
            </ul>
            </div>          
            </div>
            
            </div>
            
            <div class="ft-cpyrtnav">
	            <div class="ft-cpyrt-txt">&copy; 2016 OneCard</div>
            </div>
                                
         </div>
      </div>
      
    </footer>
<!-- PAGE FOOTER -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>
